<div class="control-group">
  <label class="control-label">Sign In</label>
  <div class="controls">
    <input class="user_name" type="text" name="user_name" placeholder="User name">
  </div>
</div>

<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <input class="email" type="text" name="email" placeholder="Email">
  </div>
</div>

<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
    <input class="password" type="password" name="password" placeholder="Password">
  </div>
</div>
