<div class='btn-toolbar'>
  <div class='btn-group'>
    <button class='btn btn-mini wysiwyg-bold'><i class="icon-bold"></i></button>
    <button class='btn btn-mini wysiwyg-italic'><i class="icon-italic"></i></button>
    <button class='btn btn-mini wysiwyg-underline'>U</button>
  </div>
  <div class='btn-group'>
    <button class='btn btn-mini wysiwyg-left'><i class="icon-align-left"></i></button>
    <button class='btn btn-mini wysiwyg-center'><i class="icon-align-center"></i></button>
    <button class='btn btn-mini wysiwyg-right'><i class="icon-align-right"></i></button> 
  </div>
  <div class='btn-group'>
    <button class='btn btn-mini wysiwyg-ul'><i class="icon-list"></i></button>
    <button class='btn btn-mini wysiwyg-ol'><i class="icon-th-list"></i></button>
    <button class='btn btn-mini wysiwyg-hr'>HR</button>
  </div>
  <div class='btn-group'>
    <button class='btn btn-mini wysiwyg-indentL'><i class="icon-indent-left"></i></button>
    <button class='btn btn-mini wysiwyg-indentR'><i class="icon-indent-right"></i></button>
    <button class='btn btn-mini wysiwyg-size'><i class="icon-zoom-in"></i></button> 
  </div>
  <div class='btn-group'>
    <button class='btn btn-mini wysiwyg-link'><i class="icon-globe"></i></button>
    <button class='btn btn-mini wysiwyg-color'><i class="icon-tint"></i></button>
    <button class='btn btn-mini wysiwyg-bgColor'><i class="icon-adjust"></i></button> 
  </div>
</div>
<div class='wysiwyg-editor' contenteditable='true'></div>
